body {
  min-height: 100%;
  font-family: 'Rosario';
  font-size: 16px;
  background-color: #fbfbfb;
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0) 30px);
  background-image: -moz-linear-gradient(top, white, rgba(255, 255, 255, 0) 30px);
  background-image: -ms-linear-gradient(top, white, rgba(255, 255, 255, 0) 30px);
  background-image: -o-linear-gradient(top, white, rgba(255, 255, 255, 0) 30px);
  background-image: linear-gradient(top, white, rgba(255, 255, 255, 0) 30px);
  background-repeat: no-repeat;
}

body h1,
body h2 {
  color: #0f4d92;
  font-family: 'Open Sans';
  font-weight: 200;
}

body h1 {
  font-size: 36px;
  margin-bottom: 24px;
  margin-left: -2px;
  line-height: 36px;
  height: 36px;
}

body h2 {
  margin-top: 36px;
  margin-bottom: 12px;
  position: relative;
  top: -3px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  height: 24px;
}

body h1 + * {
  margin-top: 24px;
}

body h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
  line-height: 24px;
  position: relative;
  top: -1px;
}

body h2 + * {
  margin-top: 12px;
}

body h1 .subtitle::before {
  content: ">";
  position: absolute;
  left: -23px;
  top: 3px;
  width: 20px;
  height: 20px;
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

body h1 .subtitle {
  font-size: 0.8em;
  line-height: 36px;
  margin-left: 30px;
  position: relative;
}

#wrapper {
  width: 960px;
  margin: auto;
  padding: 36px 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  position: absolute;
  width: 190px;
  z-index: 2;
}

nav ul li:first-child .lab {
  color: #bbb;
  margin-left: 4px;
}

nav ul li:first-child {
  margin-top: 0px;
  margin-left: 2px;
}

nav ul li:first-child + li {
  margin-top: -1px;
}

nav ul li h1 > a {
  text-decoration: none;
  color: inherit;
}

nav ul li > a:hover {
  color: black;
}

nav ul li > a::before {
  content: "";
  visibility: hidden;
  position: absolute;
  width: 9px;
  height: 9px;
  left: -16px;
  top: 6px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  border: solid 4px #0f4d92;
  border-bottom: none;
  border-left: none;
  border-radius: 3px;
  pointer-events: none;
  -webkit-transform: translateX(-14px) scaleX(0.5) rotate(45deg) translateZ(0);
  -moz-transform: translateX(-14px) scaleX(0.5) rotate(45deg) translateZ(0);
  -ms-transform: translateX(-14px) scaleX(0.5) rotate(45deg) translateZ(0);
  -o-transform: translateX(-14px) scaleX(0.5) rotate(45deg) translateZ(0);
  transform: translateX(-14px) scaleX(0.5) rotate(45deg) translateZ(0);
  -webkit-transition-delay: 0.3s, 0s;
  -moz-transition-delay: 0.3s, 0s;
  -ms-transition-delay: 0.3s, 0s;
  -o-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: visibility, opacity, transform, -moz-transform, -webkit-transform, -ms-transform, -o-transform;
  -moz-transition-property: visibility, opacity, transform, -moz-transform, -webkit-transform, -ms-transform, -o-transform;
  -ms-transition-property: visibility, opacity, transform, -moz-transform, -webkit-transform, -ms-transform, -o-transform;
  -o-transition-property: visibility, opacity, transform, -moz-transform, -webkit-transform, -ms-transform, -o-transform;
  transition-property: visibility, opacity, transform, -moz-transform, -webkit-transform, -ms-transform, -o-transform;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

nav ul li > a {
  color: inherit;
  padding: 0;
  margin: 6px 0;
  line-height: 24px;
  text-decoration: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0);
  position: relative;
}

nav ul li > a:hover::before,
nav ul li:first-child:hover + li > a::before {
  visibility: visible;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  border-width: 2px;
  -webkit-transform: translateX(0) rotate(45deg) translateZ(0);
  -moz-transform: translateX(0) rotate(45deg) translateZ(0);
  -ms-transform: translateX(0) rotate(45deg) translateZ(0);
  -o-transform: translateX(0) rotate(45deg) translateZ(0);
  transform: translateX(0) rotate(45deg) translateZ(0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

nav ul li {
  display: block;
  margin: 12px 12px;
  text-align: right;
  color: #bbb;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

nav ul {
  padding: 0px;
  list-style-type: none;
}

#sidecontent {
  margin-top: 30px;
  width: 100%;
}

#sidecontent a:hover {
  color: #0f4d92;
}

#sidecontent a {
  color: black;
}

#content {
  padding-left: 214px;
  line-height: 24px;
}

#content p + p {
  margin-top: 24px;
}

#content a:hover {
  text-decoration: underline;
}

#content a.control {
  border: solid 1px #a00;
  border-radius: 3px;
  padding: 1px 3px 0px 3px;
  margin: 4px 6px 0px 6px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

#content a.control:hover {
  text-decoration: none;
  background-color: #fcc;
  cursor: pointer;
}

#content a {
  text-decoration: none;
  font-weight: 400;
  color: #a00;
}

#content #steve {
  width: 250px;
  height: 188px;
  margin: 6px 24px 0 24px;
  float: right;
  //background-image: url(../img/projects/bacteria.png);
  border-radius: 6px;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.4);
}

#content ul.peoples li {
  display: inline-block;
  width: 220px;
}

/*
#firstgroup
  border: solid 1px #ccc
  border-color: #8ab412
#firstgroup-description
  background-color: rgba(138, 180, 18, 0.8)
#secondgroup
  border: solid 1px #ccc
  border-color: #f6546a
#secondgroup-description
  background-color: rgba(246, 84, 106, 0.8)
#thirdgroup
  border: solid 1px #ccc
  border-color: #1b97ad
#thirdgroup-description
  background-color: rgba(27, 151, 173, 0.8)
*/

#first-group-name {
  width: 888px;
  margin: 18px 0 6px -202px;
  position: relative;
  color: #0f4d92;
}

#second-group-name {
  width: 888px;
  margin: 0 0 6px -202px;
  position: relative;
  color: #0f4d92;
}

#third-group-name {
  width: 888px;
  margin: 0 0 6px -202px;
  position: relative;
  color: #0f4d92;
}

#plus {
  margin: 0 0 0 -202px;
  position: relative;
  text-align: right;
}

#plus a:hover {
  color: #0f4d92;
  text-decoration: none;
}

#plus a {
  color: #7e7e7e;
  font-size: 28px;
}

#books {
  margin-bottom: 0;
}

#back-to-top {
  margin: 0 0 12px 0;
  text-align: right;
}

#back-to-top a:hover {
  color: #0f4d92;
}

#back-to-top a {
  color: #7e7e7e;
  font-size: 16px;
}

#project-thumbnails {
  width: 888px;
  margin: 6px 0 6px -202px;
  position: relative;
}

#project-thumbnails .project-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
}

#project-thumbnails .project-link:active::before {
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
}

#project-thumbnails .project-link:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000 !important;
  -webkit-transform: scale(1.05) !important;
  -moz-transform: scale(1.05) !important;
  -ms-transform: scale(1.05) !important;
  -o-transform: scale(1.05) !important;
  transform: scale(1.05) !important;
}

#project-thumbnails .project-link .description {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  bottom: 12px;
  border-top-right-radius: 4px;
  border: solid 1px #ccc;
  border-left: none;
  color: black;
  padding: 2px 8px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#project-thumbnails .project-link {
  display: block;
  background-size: 120% auto;
  background-position: -5px -5px;
  width: 32%;
  height: 200px;
  position: relative;
  float: left;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 4px;
  border: solid 1px #ccc;
  border-radius: 0px;
  z-index: 20;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow, transform, -moz-transform, -webkit-transform, -ms-transform, -o-transform;
  -moz-transition-property: box-shadow, transform, -moz-transform, -webkit-transform, -ms-transform, -o-transform;
  -ms-transition-property: box-shadow, transform, -moz-transform, -webkit-transform, -ms-transform, -o-transform;
  -o-transition-property: box-shadow, transform, -moz-transform, -webkit-transform, -ms-transform, -o-transform;
  transition-property: box-shadow, transform, -moz-transform, -webkit-transform, -ms-transform, -o-transform;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#project-thumbnails::after {
  display: block;
  content: '.';
  visibility: hidden;
  height: 0px;
  clear: both;
}

.demo-imgs {
  margin-top: 24px;
  margin-bottom: 12px;
}

.demo-imgs img:not(:first-child) {
  margin-left: 36px;
}

.demo-imgs img {
  display: inline-block;
  width: 313px;
  vertical-align: middle;
  border: solid 1px #ccc;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#pub-controls {
  margin: auto;
  width: 178px;
  font-size: 16px;
  text-align: right;
}

#pub-controls label {
  float: left;
  margin-left: 2px;
  line-height: 24px;
}

#pub-controls input[type='checkbox'] {
  position: relative;
  top: 4px;
}

#pub-controls input[type='text']:focus {
  outline: none;
}

#pub-controls input[type='text']:hover,
#pub-controls input[type='text']:focus {
  border-color: black;
}

#pub-controls input[type='text']::-ms-clear {
  width: 0px;
  height: 0px;
}

#pub-controls input[type='text'] {
  height: 36px;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 6px;
  font-family: inherit;
  font-size: inherit;
  border: solid 2px #999;
  border-radius: 4px;
  padding: 0px 27px 0px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.4s ease;
  -moz-transition: border-color 0.4s ease;
  -ms-transition: border-color 0.4s ease;
  -o-transition: border-color 0.4s ease;
  transition: border-color 0.4s ease;
}

#pub-controls input {
  float: left;
  clear: left;
}

#pub-controls .clearbtn::before,
#pub-controls .clearbtn::after {
  position: absolute;
  content: "";
  left: 5px;
  top: 1px;
  width: 2px;
  height: 10px;
  background-color: #bbb;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

#pub-controls .clearbtn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#pub-controls .clearbtn:hover::after,
#pub-controls .clearbtn:hover::before {
  background-color: #999;
}

#pub-controls .clearbtn:hover {
  border-color: #999;
}

#pub-controls .clearbtn {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: solid 2px #bbb;
  border-radius: 9px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}

.publist li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  margin-right: 6px;
  background-color: black;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.publist li:not(:first-child) {
  margin-top: 12px;
}

.publist li .reference .author:not(:first-child)::before {
  content: ', ';
}

.publist li .reference .author:last-child::before {
  content: ', and ';
}

.publist li .reference .author:first-child:last-child::before {
  content: '';
}

.publist li .reference .title::before {
  content: ', ';
}

.publist li .reference .title {
  font-weight: bold;
}

.publist li .reference .journal::before,
.publist li .reference .booktitle::before {
  font-style: normal;
  content: ', ';
}

.publist li .reference .journal,
.publist li .reference .booktitle {
  font-style: italic;
}

.publist li .reference .volume::before {
  font-weight: normal;
  content: ', ';
}

.publist li .reference .volume {
  font-weight: bold;
}

.publist li .reference .issue::before {
  content: '(';
}

.publist li .reference .issue::after {
  content: ')';
}

.publist li .reference :not(.issue) + .pages {
  display: none;
}

.publist li .reference .pages::before {
  content: ': ';
}

.publist li .reference .year::before {
  content: ', ';
}

.publist li .reference .year::after {
  content: '.';
}

.publist li .reference .pdf {
  display: none;
}

.publist li .bibtex .control {
  display: inline-block;
}

.publist li .bibtex .bibtex-content::before,
.publist li .bibtex .bibtex-content::after {
  content: "";
  position: absolute;
  top: -8px;
  left: calc(50% - 8px);
  border-style: solid;
  border-width: 0px 8px 8px 8px;
  border-color: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.96);
  display: block;
  z-index: 1;
}

.publist li .bibtex .bibtex-content::after {
  top: -9px;
  left: calc(50% - 9px);
  border-width: 0px 9px 9px 9px;
  border-bottom-color: #ccc;
  z-index: 0;
}

.publist li .bibtex .bibtex-content pre::before {
  position: absolute;
  content: "";
  width: 100%;
  left: 0px;
  top: -12px;
  height: 12px;
  background-color: transparent;
}

.publist li .bibtex .bibtex-content pre {
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  padding: 6px;
  font-family: 'Courier New', monospace;
  white-space: pre-wrap;
  overflow-x: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.publist li .bibtex .bibtex-content {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  top: 34px;
  display: none;
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.publist li .bibtex:hover .bibtex-content {
  display: block;
  z-index: 10;
}

.publist li .bibtex {
  position: relative;
  display: inline-block;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  #content #steve {
    background-image: url("/img/steve-thumb@2x.jpeg");
    background-size: contain;
  }
}
